@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply overflow-hidden md:bg-gradient-to-r from-indigo-50 to-indigo-100 bg-indigo-50;
}

.uptime-section {
    @apply mb-7;
}

.uptime-section:last-child {
    @apply m-0;
}

.padding-inner {
    @apply p-8;
}

div.block-chart {
    @apply h-8 pt-2 pb-1 w-101/100;
}
div.block-chart div.bar {
    @apply relative float-left h-full w-1.5 cursor-pointer border-l border-r border-white border-solid opacity-80 bg-green-400;
}

div.block-chart div.bar:hover {
    opacity: 1;
}

div.block-chart div.bar.mid {
    @apply bg-yellow-500;
}

div.block-chart div.bar.down {
    @apply bg-red-500;
}

div.block-chart div.bar.pending {
    background: #aab7c4;
}

.legend-item {
    @apply float-left block relative pl-4
}

.legend-color {
    top: 6px;
    @apply block w-2 h-2 opacity-80 absolute left-0
}

.legend-item label {
    color: #8898aa;
    @apply block text-sm mr-5
}

.graph-up {
    @apply fill-current bg-green-400;
}

.graph-mid {
    @apply bg-yellow-500 fill-current;
}

.graph-down {
    @apply bg-red-500 fill-current;
}

.tippy-content {
    @apply text-center text-xs opacity-75 px-4 py-5;
}
